body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: wrap;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    color: #F9FAF8;
    text-decoration: none;

}
nav > a {
    margin-left: 48px;
}

nav > ul {
    margin-right: 48px;
    display: flex;
    justify-content: space-around;
}

nav > ul > li {
    justify-content: space-between;
    list-style: none;
    margin: 5px;
}

nav > ul > li > a {
    color: #F9FAF8;
    text-decoration: none;
}

.header {
    display: flex;
    flex-shrink: 1;
    justify-content: space-around;
    margin: 48px;
}

.header-left {
    margin: 18px;

}

.header-left > p {
    color:#F9FAF8;
}

.header-left > button {
    background-color: #3882F6;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    
}

.header-right {
    padding: 10px;
    margin:18px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header > p {
    color: #F9FAF8;
}

/* section cards */

.sectionCards {
    height: 400px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.titleCards {
    display: flex;
    justify-content: center;
}

.divCards {
    display: flex;
    justify-content: center;
    gap:50px;
    margin-left: 48px;
    margin-right: 48px;
}

.cards {
    border: #3882F6 solid 4px;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

.divTextCards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 48px;
}

.textCards {
    width: 157.27px;
    text-align: center;
    color: #1F2937;
    margin-top: 5px;
}

/* section quote */

.sectionQuote {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-weight: bold;
}

.sectionQuote > div {
    display: flex;
    justify-content: right;
}

/* call to action section */

.sectionCallToAction {
    padding: 100px;
}

.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    background-color:#3882F6;
    border-radius: 10px;
    padding: 20px;
}

.callToAction-left {
    justify-content: center;
    align-items: center;
}

.callToAction-left > h3 , p {
    color: #E5E7EB;
}

.callToAction-right > button {
    border: solid #E5E7EB;
    border-radius: 15px;
    background-color: transparent;
    color: #E5E7EB;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
/* footer */

footer {
    display: flex;
    padding: 20px;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
}